[package]
name = "ecip-bench"
version = "0.1.0"
edition = "2021"

[workspace]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
darkfi = {path = "../../../../", features = ["zk"]}
darkfi-sdk = {path = "../../../../src/sdk"}
halo2_proofs = "0.3.2"
halo2_gadgets = "0.4.0"
rand = "0.8.5"
hex = "0.4.3"

[patch.crates-io]
halo2_proofs = {git="https://github.com/parazyd/halo2", branch="v3"}

[lints]
workspace = true
