[package]
name = "lilith"
description = "Daemon that spawns P2P seeds"
version = "0.3.0"
edition = "2021"
authors = ["darkfi <dev@dark.fi>"]
license = "AGPL-3.0-only"
homepage = "https://dark.fi"
repository = "https://github.com/darkrenaissance/darkfi"
keywords = []
categories = []

[dependencies]
darkfi = {path = "../../", features = ["net"]}

# Async
async-channel = "1.6.1"
async-executor = "1.4.1"
async-std = "1.12.0"
ctrlc-async = {version = "3.2.2", default-features = false, features = ["async-std", "termination"]}
easy-parallel = "3.2.0"
futures-lite = "1.12.0"

# Misc
fxhash = "0.2.1"
log = "0.4.17"
simplelog = "0.12.0"
url = "2.2.2"

# Argument parsing
serde = "1.0.138"
serde_derive = "1.0.138"
structopt = "0.3.26"
structopt-toml = "0.5.0"
toml = "0.5.9"
