[package]
name = "lilith"
description = "Daemon that spawns P2P seeds"
version = "0.4.1"
edition = "2021"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
license = "AGPL-3.0-only"
homepage = "https://dark.fi"
repository = "https://github.com/darkrenaissance/darkfi"

[dependencies]
darkfi = {path = "../../", features = ["net", "rpc"]}

# Misc
async-trait = "0.1.71"
futures = "0.3.28"
libsqlite3-sys = {version = "0.26.0", features = ["bundled-sqlcipher-vendored-openssl"]}
log = "0.4.19"
semver = "1.0.17"
serde_json = "1.0.100"
toml = "0.7.6"
url = "2.4.0"

# Daemon
async-std = "1.12.0"
easy-parallel = "3.3.0"
signal-hook-async-std = "0.2.2"
signal-hook = "0.3.15"
simplelog = "0.12.1"
smol = "1.3.0"

# Argument parsing
serde = {version = "1.0.171", features = ["derive"]}
structopt = "0.3.26"
structopt-toml = "0.5.1"
