[package]
name = "lilith"
description = "Daemon that spawns P2P seeds"
version = "0.4.2"
edition = "2021"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
license = "AGPL-3.0-only"
homepage = "https://dark.fi"
repository = "https://codeberg.org/darkrenaissance/darkfi"

[dependencies]
darkfi = {path = "../../", features = ["toml", "async-daemonize", "rpc"]}

# Misc
async-trait = "0.1.86"
futures = "0.3.31"
log = "0.4.25"
semver = "1.0.25"
tinyjson = "2.5.1"
toml = "0.8.20"
url = "2.5.4"

# Daemon
easy-parallel = "3.3.1"
signal-hook-async-std = "0.2.2"
signal-hook = "0.3.17"
simplelog = "0.12.2"
smol = "2.0.2"

# Argument parsing
serde = {version = "1.0.217", features = ["derive"]}
structopt = "0.3.26"
structopt-toml = "0.5.1"

[lints]
workspace = true

