[package]
name = "vanityaddr"
version = "0.5.0"
homepage = "https://dark.fi"
description = "Vanity address generation tool for DarkFi keypairs, contract IDs, and token IDs"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
repository = "https://codeberg.org/darkrenaissance/darkfi"
license = "AGPL-3.0-only"
edition = "2021"

[dependencies]
arg = {git = "https://github.com/parazyd/arg"}
bs58 = "0.5.1"
ctrlc = "3.5.1"
darkfi = {path = "../../", features = ["util"]}
darkfi-sdk = {path = "../../src/sdk"}
darkfi_money_contract = {path = "../../src/contract/money", features = ["no-entrypoint", "client"]}
rand = "0.8.5"
rayon = "1.11.0"

[lints]
workspace = true
