[package]
name = "vanityaddr"
version = "0.4.1"
homepage = "https://dark.fi"
description = "Vanity address generation tool for DarkFi keypairs and token IDs"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
repository = "https://github.com/darkrenaissance/darkfi"
license = "AGPL-3.0-only"
edition = "2021"

[dependencies]
bs58 = "0.5.0"
clap = {version = "4.3.17", features = ["derive"]}
ctrlc = "3.4.0"
darkfi = {path = "../../", features = ["util"]}
darkfi-sdk = {path = "../../src/sdk"}
rand = "0.8.5"
rayon = "1.7.0"
