[package]
name = "tau"
version = "0.3.0"
homepage = "https://dark.fi"
description = "Command-line client for taud"
authors = ["darkfi <dev@dark.fi>"]
repository = "https://github.com/darkrenaissance/darkfi"
license = "AGPL-3.0-only"
edition = "2021"

[dependencies]
async-std = {version = "1.11.0", features = ["attributes"]}
chrono = "0.4.19"
clap = {version = "3.1.18", features = ["derive"]}
darkfi = { path = "../../../", features = ["rpc"]}
log = "0.4.17"
prettytable-rs = "0.8.0"
serde = {version = "1.0.137", features = ["derive"]}
serde_json = "1.0.81"
simplelog = "0.12.0"
url = "2.2.2"
