[package]
name = "tau"
description = "Command-line client for taud"
version = "0.4.1"
edition = "2021"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
license = "AGPL-3.0-only"
homepage = "https://dark.fi"
repository = "https://github.com/darkrenaissance/darkfi"

[dependencies]
darkfi = { path = "../../../", features = ["rpc"]}

# Async
async-std = {version = "1.12.0", features = ["attributes"]}

# Misc
chrono = "0.4.26"
colored = "2.0.0"
log = "0.4.18"
prettytable-rs = "0.10.0"
simplelog = "0.12.1"
term_grid = { git = "https://github.com/Dastan-glitch/rust-term-grid.git" }
textwrap = "0.16.0"
url = "2.4.0"

# Encoding and parsing
clap = {version = "4.3.2", features = ["derive"]}
serde = {version = "1.0.163", features = ["derive"]}
serde_json = "1.0.96"
