*.pyc
*.pickle
*.sage.py
*.zk.bin
*_circuit_layout.png
.vscode/
.cargo/
.DS_Store
.#*

/target/*
/tmp/*

/cashierd
/dao
/daod
/dhtd
/darkfid
/darkotc
/dnetview
/drk
/faucetd
/fu
/fud
/genevd
/genev
/ircd
/ircd2
/darkirc
/tau
/taud
/vanityaddr
/zkas
/lilith
/darkwiki
/darkwikid
/zktool
TAGS
