[submodule "bin/swapd/ethereum/lib/forge-std"]
	path = bin/swapd/ethereum/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "bin/swapd/ethereum/lib/openzeppelin-contracts"]
	path = bin/swapd/ethereum/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
