/target

*.pyc
*.sage.py
*.wasm
*.zk.bin

*_circuit_layout.png

/bin/zkas/zkas
/zkas

/bin/darkfid2/darkfid2
/darkfid2

/bin/darkfi-mmproxy/darkfi-mmproxy
/darkfi-mmproxy

/bin/darkirc/darkirc
/darkirc

/bin/genev/genev-cli/genev
/genev

/bin/genev/genevd/genevd
/genevd

/bin/lilith/lilith
/lilith

/bin/tau/taud/taud
/taud

/bin/vanityaddr/vanityaddr
/vanityaddr

