[package]
name = "sapvi"
version = "0.1.0"
authors = ["narodnik <x@x.org>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "sapvi"

[dependencies]
ff = "0.8"
group = "0.8"
bellman = { version = "0.8", default-features = false, features = ["groth16"] }
bls12_381 = "0.3.1"
jubjub = "0.5.1"

zcash_primitives = { git = "https://github.com/zcash/librustzcash" }
zcash_proofs = { git = "https://github.com/zcash/librustzcash" }
#zcash_proofs = { git = "https://github.com/narodnik/librustzcash" }
#bench-utils = { git = "https://github.com/scipr-lab/zexe", features = ["print-trace"]}
rand = "0.7.3"
rand_core = "0.5.1"
sha2 = "0.9.1"
rand_xorshift = "0.2"
blake2s_simd = "0.5"
bitvec = "0.18"
bimap = "0.5.2"

hex = "0.4.2"
num_enum = "0.5.0"

simplelog = "0.7.4"
clap = "3.0.0-beta.1"
failure = "0.1.8"
failure_derive = "0.1.8"
log = "0.4"
ctrlc = "3.1.7"

smol = "1.2.4"
futures = "0.3.5"
async-channel = "1.4.2"
async-executor = "1.4.0"
async-dup = "1.1.0"
async-std = "1.6.2"
easy-parallel = "3.1.0"

jsonrpc-core = "16.0.0"
http-types = "2.9.0"
async-h1 = "2.3.0"
async-native-tls = "0.3.3"

[[bin]]
name = "zkvm"
path = "src/bin/zkvm.rs"

[[bin]]
name = "dfi"
path = "src/bin/dfi.rs"

