[package]
name = "fud"
description = "File-sharing Utility Daemon, using DHT for records discovery."
version = "0.5.0"
edition = "2021"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
license = "AGPL-3.0-only"
homepage = "https://dark.fi"
repository = "https://codeberg.org/darkrenaissance/darkfi"

[lib]
name = "fud"
path = "src/lib.rs"

[[bin]]
name = "fud"
path = "src/main.rs"

[dependencies]
darkfi = {path = "../../../", features = ["async-daemonize", "geode", "rpc", "dht", "sled-overlay"]}
darkfi-sdk = {path = "../../../src/sdk"}
darkfi-serial = {version = "0.5.0", features = ["hash"]}

# Encoding
bs58 = "0.5.1"
sha2 = "0.10.9"

# Misc
async-trait = "0.1.89"
blake3 = "1.8.2"
rand = "0.8.5"
tracing = "0.1.44"
tinyjson = "2.5.1"
url = "2.5.7"
num-bigint = "0.4.6"

# Daemon
easy-parallel = "3.3.1"
futures = "0.3.31"
signal-hook-async-std = "0.3.0"
signal-hook = "0.3.18"
tracing-subscriber = { version = "0.3.22", default-features = false, features = ["fmt"] }
tracing-appender = "0.2.4"
smol = "2.0.2"

# Equi-X
blake2 = "0.10.6"
equix = "0.5.1"

# Database
sled-overlay = "0.1.14"

# Argument parsing
serde = {version = "1.0.228", features = ["derive"]}
structopt = "0.3.26"
structopt-toml = "0.5.1"

[lints]
workspace = true
