## fud configuration file
##
## Please make sure you go through all the settings so you can configure
## your daemon properly.
##
## The default values are left commented. They can be overridden either by
## uncommenting, or by using the command-line.

# Path to the contents directory
base_dir = "~/.local/share/darkfi/fud"

## Chunk transfer timeout in seconds
#chunk_timeout = 60

# PoW settings (to generate a valid node id)
[pow]
## Equi-X effort value
#equix_effort = 10000

## Toggle BTC block hash in PoW challenge (useful for localnet/debug)
#btc_enabled = true

## Number of latest BTC block hashes that are valid for fud's PoW
#btc_hash_count = 144

## Electrum nodes timeout in seconds
#btc_timeout = 15

# Electrum nodes used to fetch the latest BTC block hashes (used in fud's PoW)
btc_electrum_nodes = [
    "tcp://ax102.blockeng.ch:50001",
    "tcp://fulcrum-core.1209k.com:50001",
    "tcp://electrum.blockstream.info:50001",
    "tcp://bitcoin.aranguren.org:50001",
    "tcp://bitcoin.grey.pw:50001",
    #"tor://4vrz2q62yxlfmcntnotzdjahpqh2joirp2vrcdsayyioxthffimbp2ad.onion:50001",
    #"tor://k23xxwk6xipyfdqey4ylsfeetmcajjro63odwihzbmx5m6xabbwzp4yd.onion:50001",
    #"tor://sysaw6aecffum4ghlbukauf6g7l3hzh3rffafmfak5bxnfowrynd56ad.onion:50001",
    #"tor://udfpzbte2hommnvag5f3qlouqkhvp3xybhlus2yvfeqdwlhjroe4bbyd.onion:60001",
    #"tor://lukebtcygzrosjtcklev2fhlvpbyu25saienzorhbf3vwc2fpa475qyd.onion:50001",
]

# DHT settings
[dht]
## Number of nodes in a bucket
#dht_k = 16

## Number of lookup requests in a burst
#dht_alpha = 4

## Maximum number of parallel lookup requests
#dht_concurrency = 10

## Timeout in seconds
#dht_timeout = 5

## Timeout in seconds for inbound connections
#dht_inbound_timeout = 30

# JSON-RPC settings
[rpc]
# JSON-RPC listen URL
rpc_listen = "tcp://127.0.0.1:9705"

# Disabled RPC methods
#rpc_disabled_methods = []

# Management JSON-RPC settings
[management_rpc]
# JSON-RPC listen URL
rpc_listen = "tcp://127.0.0.1:9706"

# Disabled RPC methods
#rpc_disabled_methods = []

# P2P network settings
[net]
# Magic Bytes to distinguish the p2p network
magic_bytes = [73, 59, 41, 23]

# Path to the P2P datastore
p2p_datastore = "~/.local/share/darkfi/fud"

# Path to a configured hostlist for saving known peers
hostlist = "~/.local/share/darkfi/fud/p2p_hostlist.tsv"

## Outbound connection slots
# outbound_connections = 16

## Inbound connection slots
#inbound_connections = 16

## White connection percent
# gold_connect_count = 2

## White connection percent
# white_connect_percent = 70

# Nodes to avoid interacting with for the duration of the program, in the
# format ["host", ["scheme", "scheme"], [port, port]].
# If scheme is left empty it will default to "tcp+tls".
# If ports are left empty all ports from this peer will be blocked.
#blacklist = [["example.com", ["tcp"], [8551, 9700]]]

# Whitelisted transports for outbound connections
active_profiles = ["tor"]
#active_profiles = ["tcp+tls"]
#active_profiles = ["tor", "tor+tls"]

# Transports you want to be mixed (e.g. Tor would be allowed to connect to `tcp://`
# if tcp is added to mixed_profiles and tor is added to active_profiles)
#mixed_profiles = []

# Tor Socks5 proxy
#tor_socks5_proxy = "socks5://127.0.0.1:9050"

# Nym Socks5 proxy
#nym_socks5_proxy = "socks5://127.0.0.1:1080"

# I2p Socks5 proxy
#i2p_socks5_proxy = "socks5://127.0.0.1:4447"

[net.profiles."tcp+tls"]
## Seed nodes to connect to
seeds = [
    "tcp+tls://lilith0.dark.fi:9700",
    "tcp+tls://lilith1.dark.fi:9700",
]

## Manual peers to connect to
#peers = []

## P2P accept addresses
#inbound = ["tcp+tls://0.0.0.0:9700", "tcp+tls://[::]:9700"]

## Addresses we want to advertise to peers (optional)
## These should be reachable externally
#external_addrs = ["tcp+tls://my.resolveable.address:9700"]

[net.profiles."tor"]
## Seed nodes to connect to
seeds = [
    "tor://g7fxelebievvpr27w7gt24lflptpw3jeeuvafovgliq5utdst6xyruyd.onion:9701",
    "tor://yvklzjnfmwxhyodhrkpomawjcdvcaushsj6torjz2gyd7e25f3gfunyd.onion:9701",
]

## Manual peers to connect to
#peers = []

## P2P accept addresses
#inbound = ["tcp://127.0.0.1:9701"]

## Addresses we want to advertise to peers (optional)
## These should be reachable externally
#external_addrs = ["tor://youraddress.onion:9701"]

[net.profiles."i2p"]
## Seed nodes to connect to
#seeds = []

## Manual peers to connect to
#peers = []

## P2P accept addresses
#inbound = ["tcp://127.0.0.1:9702"]

## Addresses we want to advertise to peers (optional)
## These should be reachable externally
#external_addrs = ["i2p://youraddress.b32.i2p:9702"]

[net.profiles."socks5"]
## Seed nodes to connect to
seeds = [
    "socks5://127.0.0.1:9050/g7fxelebievvpr27w7gt24lflptpw3jeeuvafovgliq5utdst6xyruyd.onion:9701",
    "socks5://127.0.0.1:9050/yvklzjnfmwxhyodhrkpomawjcdvcaushsj6torjz2gyd7e25f3gfunyd.onion:9701",
]

## Manual peers to connect to
#peers = []

[net.profiles."socks5+tls"]
## Seed nodes to connect to
seeds = [
    #"socks5+tls://127.0.0.1:9050/lilith0.dark.fi:9700",
    #"socks5+tls://127.0.0.1:1080/lilith1.dark.fi:9700"
]

## Manual peers to connect to
#peers = []

[net.profiles."tor+tls"]
## Seed nodes to connect to
seeds = [
    "tor+tls://lilith0.dark.fi:9700",
    "tor+tls://lilith1.dark.fi:9700"
]

## Manual peers to connect to
#peers = []

[net.profiles."tcp"]
## Seed nodes to connect to
#seeds = ["tcp://127.0.0.1:9700"]

## Manual peers to connect to
#peers = []

## P2P accept addresses
#inbound = ["tcp://127.0.0.1:9700"]

## Addresses we want to advertise to peers
#external_addrs = ["tcp://127.0.0.1:9700"]
