## fud configuration file
##
## Please make sure you go through all the settings so you can configure
## your daemon properly.
##
## The default values are left commented. They can be overridden either by
## uncommenting, or by using the command-line.

# Path to the contents directory
base_dir = "~/.local/share/darkfi/fud"

## Chunk transfer timeout in seconds
#chunk_timeout = 60

# PoW settings (to generate a valid node id)
[pow]
## Equi-X effort value
#equix_value = 10000

## Number of latest BTC block hashes that are valid for fud's PoW
#btc_hash_count = 144

## Electrum nodes timeout in seconds
#btc_timeout = 15

# Electrum nodes used to fetch the latest BTC block hashes (used in fud's PoW)
btc_electrum_nodes = [
    "tcp://ax102.blockeng.ch:50001",
    "tcp://fulcrum-core.1209k.com:50001",
    "tcp://electrum.blockstream.info:50001",
    "tcp://bitcoin.aranguren.org:50001",
    "tcp://bitcoin.grey.pw:50001",
    #"tor://4vrz2q62yxlfmcntnotzdjahpqh2joirp2vrcdsayyioxthffimbp2ad.onion:50001",
    #"tor://k23xxwk6xipyfdqey4ylsfeetmcajjro63odwihzbmx5m6xabbwzp4yd.onion:50001",
    #"tor://sysaw6aecffum4ghlbukauf6g7l3hzh3rffafmfak5bxnfowrynd56ad.onion:50001",
    #"tor://udfpzbte2hommnvag5f3qlouqkhvp3xybhlus2yvfeqdwlhjroe4bbyd.onion:60001",
    #"tor://lukebtcygzrosjtcklev2fhlvpbyu25saienzorhbf3vwc2fpa475qyd.onion:50001",
]

# DHT settings
[dht]
## Number of nodes in a bucket
#dht_k = 16

## Number of lookup requests in a burst
#dht_alpha = 4

## Maximum number of parallel lookup requests
#dht_concurrency = 10

## Timeout in seconds
#dht_timeout = 5

## Timeout in seconds for inbound connections
#dht_inbound_timeout = 30

# JSON-RPC settings
[rpc]
# JSON-RPC listen URL
rpc_listen = "tcp://127.0.0.1:13336"

# Disabled RPC methods
rpc_disabled_methods = ["p2p.get_info"]

# P2P network settings
[net]
# Path to the P2P datastore
p2p_datastore = "~/.local/share/darkfi/fud"

# Path to a configured hostlist for saving known peers
hostlist = "~/.local/share/darkfi/fud/p2p_hostlist.tsv"

## P2P accept addresses
#inbound = ["tcp+tls://0.0.0.0:24441", "tcp+tls://[::]:24441"]

## Outbound connection slots
# outbound_connections = 16

## Inbound connection slots
#inbound_connections = 16

## White connection percent
# gold_connect_count = 2

## White connection percent
# white_connect_percent = 70

## Addresses we want to advertise to peers (optional)
## These should be reachable externally
#external_addrs = ["tcp+tls://my.resolveable.address:24441"]

## Seed nodes to connect to
seeds = [
    "tcp+tls://lilith0.dark.fi:24441",
    "tcp+tls://lilith1.dark.fi:24441",
    #"tor://g7fxelebievvpr27w7gt24lflptpw3jeeuvafovgliq5utdst6xyruyd.onion:24442",
    #"tor://yvklzjnfmwxhyodhrkpomawjcdvcaushsj6torjz2gyd7e25f3gfunyd.onion:24442",
]

## Manual peers to connect to
#peers = []

# Whitelisted transports for outbound connections
allowed_transports = ["tcp+tls"]
#allowed_transports = ["tor"]
#allowed_transports = ["tor", "tor+tls"]

# Transports you want to be mixed (e.g. Tor would be allowed to connect to `tcp://`
# if tcp is added to mixed_transports and tor is added to allowed_transports)
#mixed_transports = []

# Tor Socks5 proxy
#tor_socks5_proxy = "socks5://127.0.0.1:9050"

# Nym Socks5 proxy
#nym_socks5_proxy = "socks5://127.0.0.1:1080"

# I2p Socks5 proxy
#i2p_socks5_proxy = "socks5://127.0.0.1:4447"

# Nodes to avoid interacting with for the duration of the program, in the
# format ["host", ["scheme", "scheme"], [port, port]].
# If scheme is left empty it will default to "tcp+tls".
# If ports are left empty all ports from this peer will be blocked.
#blacklist = [["example.com", ["tcp"], [8551, 23331]]]
