[package]
name = "drk"
version = "0.3.0"
homepage = "https://dark.fi"
description = "Command-line client for darkfid"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
repository = "https://github.com/darkrenaissance/darkfi"
license = "AGPL-3.0-only"
edition = "2021"

[dependencies]
anyhow = "1.0.66"
async-std = {version = "1.12.0", features = ["attributes"]}
bs58 = "0.4.0"
clap = {version = "4.0.29", features = ["derive"]}
darkfi = {path = "../../", features = ["blockchain", "rpc", "util", "wallet"]}
darkfi-sdk = {path = "../../src/sdk"}
darkfi-serial = {path = "../../src/serial", features = ["derive", "crypto"]}
darkfi-money-contract = {path = "../../src/contract/money", features = ["no-entrypoint", "client"]}
prettytable-rs = "0.9.0"
rand = "0.8.5"
serde_json = "1.0.89"
smol = "1.3.0"
simplelog = "0.12.0"
signal-hook-async-std = "0.2.2"
signal-hook = "0.3.14"
sqlx = {version = "0.6.2", features = ["runtime-async-std-native-tls", "sqlite"]}
url = "2.3.1"
play = "0.5.3"
