[package]
name = "drk"
version = "0.3.0"
edition = "2021"

[dependencies.darkfi]
path= "../../"
features = ["rpc", "cli"]

[dependencies]
# Async
async-std = {version = "1.10.0", features = ["attributes"]}

# Misc
clap = {version = "3.0.7", features = ["derive"]}
log = "0.4.14"
simplelog = "0.11.2"
prettytable-rs = "0.8.0"

# Encoding and parsing
serde_json = "1.0.74"
