[package]
name = "drk"
version = "0.3.0"
homepage = "https://dark.fi"
description = "Command-line client for darkfid"
authors = ["darkfi <dev@dark.fi>"]
repository = "https://github.com/darkrenaissance/darkfi"
license = "AGPL-3.0-only"
edition = "2021"

[dependencies]
async-std = {version = "1.11.0", features = ["attributes"]}
clap = {version = "3.1.12", features = ["derive"]}
darkfi = {path = "../../", features = ["crypto", "util", "rpc"]}
log = "0.4.16"
serde_json = "1.0.79"
simplelog = "0.12.0"
url = "2.2.2"
