[package]
name = "drk"
version = "0.5.0"
homepage = "https://dark.fi"
description = "Command-line client for darkfid"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
repository = "https://codeberg.org/darkrenaissance/darkfi"
license = "AGPL-3.0-only"
edition = "2021"

[dependencies]
# Darkfi
darkfi = {path = "../../", features = ["async-daemonize", "bs58", "rpc", "validator"]}
darkfi_money_contract = {path = "../../src/contract/money", features = ["no-entrypoint", "client"]}
darkfi_dao_contract = {path = "../../src/contract/dao", features = ["no-entrypoint", "client"]}
darkfi_deployooor_contract = {path = "../../src/contract/deployooor", features = ["no-entrypoint", "client"]}
darkfi-sdk = {path = "../../src/sdk", features = ["async"]}
darkfi-serial = {path = "../../src/serial"}

# Misc
blake3 = "1.8.2"
bs58 = "0.5.1"
futures = "0.3.31"
lazy_static = "1.5.0"
libc = "0.2"
linenoise-rs = "0.1.1"
num-bigint = "0.4.6"
prettytable-rs = "0.10.0"
rand = "0.8.5"
rodio = {version = "0.21.1", default-features = false, features = ["playback", "mp3"]}
rusqlite = {version = "0.37.0", features = ["sqlcipher"]}
sled-overlay = "0.1.20"
toml = "0.9.8"
tracing = "0.1.44"
url = "2.5.7"

# Daemon
easy-parallel = "3.3.1"
signal-hook-async-std = "0.4.0"
signal-hook = "0.4.1"
tracing-subscriber = { version = "0.3.22", default-features = false, features = ["fmt"] }
tracing-appender = "0.2.4"
smol = "2.0.2"

# Argument parsing
serde = {version = "1.0.228", features = ["derive"]}
structopt = "0.3.26"
structopt-toml = "0.5.1"

[lints]
workspace = true
