[package]
name = "p2pdebug"
version = "0.4.1"
homepage = "https://dark.fi"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
repository = "https://github.com/darkrenaissance/darkfi"
license = "AGPL-3.0-only"
edition = "2021"

[workspace]

[dependencies]
darkfi = {path = "../../", features = ["net", "rpc"]}
# Async
smol = "1.3.0"
futures = "0.3.28"
async-std = "1.12.0"
async-trait = "0.1.71"
async-channel = "1.9.0"
async-executor = "1.5.1"
easy-parallel = "3.3.0"

# Crypto
rand = "0.8.5"

# Misc
clap = {version = "4.3.11", features = ["derive"]}
log = "0.4.19"
simplelog = "0.12.1"
fxhash = "0.2.1"
url = "2.4.0"

# Encoding and parsing
serde_json = "1.0.102"
