[package]
name = "p2pdebug"
version = "0.3.0"
homepage = "https://dark.fi"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
repository = "https://github.com/darkrenaissance/darkfi"
license = "AGPL-3.0-only"
edition = "2021"

[workspace]

[dependencies]
darkfi = {path = "../../", features = ["net", "rpc"]}
# Async
smol = "1.3.0"
futures = "0.3.25"
async-std = "1.12.0"
async-trait = "0.1.60"
async-channel = "1.8.0"
async-executor = "1.5.0"
easy-parallel = "3.2.0"

# Crypto
rand = "0.8.5"

# Misc
clap = {version = "4.0.32", features = ["derive"]}
log = "0.4.17"
simplelog = "0.12.0"
fxhash = "0.2.1"
url = "2.3.1"

# Encoding and parsing
serde_json = "1.0.91"
