[package]
name = "darkwallet"
description = "Wallet UI"
version = "0.1.0"
edition = "2021"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
license = "AGPL-3.0-only"
homepage = "https://dark.fi"
repository = "https://codeberg.org/darkrenaissance/darkfi"

[dependencies]
miniquad = { git = "https://github.com/not-fl3/miniquad" }
# Currently latest version links to freetype-sys 0.19 but we use 0.21
#harfbuzz-sys = "0.6.1"
#harfbuzz-sys = { git = "https://github.com/servo/rust-harfbuzz", features = ["bundled"] }
harfbuzz-sys = { git = "https://github.com/narodnik/rust-harfbuzz", features = ["bundled"] }
# Old and crap
#harfbuzz_rs = { git = "https://github.com/narodnik/hbrs2.git", features = ["freetype"] }
freetype-rs = { version = "0.37.0", features = ["bundled"] }
image = "0.25.2"
log = "0.4.22"
glam = "0.29.0"
#zmq = "0.10.0"
#async_zmq = "0.4.0"
zeromq = { version = "0.4.0", default-features = false, features = ["async-std-runtime", "all-transport"] }
darkfi = {path = "../../", features = ["async-daemonize", "event-graph", "net", "util", "system", "zk"]}
#darkfi-sdk = {path = "../../src/sdk", features = ["async"]}
darkfi-serial = {path = "../../src/serial", features = ["async"]}
thiserror = "1.0.63"
smol = "2.0.1"
atomic_float = "1.0.0"
async-channel = "2.3.1"
easy-parallel = "3.3.1"
rand = "0.8.5"
async-lock = "3.4.0"
futures = "0.3.30"
async-recursion = "1.1.1"
colored = "2.1.0"
#rustpython-vm = "0.3.1"
sled-overlay = "0.1.3"
url = "2.5.2"
semver = "1.0.23"
chrono = "0.4.38"

[patch.crates-io]
freetype-rs = { git = "https://github.com/narodnik/freetype-rs" }
freetype-sys = { git = "https://github.com/narodnik/freetype-sys" }
# I'm so confused why this is needed
halo2_proofs = {git="https://github.com/parazyd/halo2", branch="v4"}
halo2_gadgets = {git="https://github.com/parazyd/halo2", branch="v4"}

[target.'cfg(target_os = "android")'.dependencies]
android_logger = "0.13.3"
#openssl = { version = "*", features = ["vendored"] }
rusqlite = {version = "0.31.0", features = ["bundled"]}

[target.'cfg(target_os = "linux")'.dependencies]
simplelog = "0.12.1"

[package.metadata.android.activity_attributes]
"android:exported" = "true"
"android:windowSoftInputMode" = "adjustResize"

[lints]
workspace = true

[workspace.lints.clippy]

[package.metadata.android]
package_name = "darkfi.darkwallet"
label = "DarkWallet"
res = "res"
icon = "@mipmap/ic_launcher"
assets = "assets"

[[package.metadata.android.permission]]
name = "android.permission.INTERNET"
[[package.metadata.android.permission]]
name = "android.permission.ACCESS_NETWORK_STATE"
