## List of channels to autojoin for new client connections
autojoin = [
    "#dev",
    "#memes",
    "#philosophy",
    "#markets",
    "#math",
    "#random",
    "#lunardao",
]

## P2P network settings
[net]
# Magic Bytes to distinguish the p2p network
magic_bytes = [251, 229, 199, 181]

## Path to the P2P datastore
datastore = "~/.local/share/darkfi/darkirc"

## Path to a configured hostlist for saving known peers
hostlist = "~/.local/share/darkfi/darkirc/p2p_hostlist.tsv"

## connection settings
outbound_peer_discovery_cooloff_time = 60

## Outbound connection slots
outbound_connections = 8

## Inbound connection slots
inbound_connections = 64

## Whitelisted transports for outbound connections
active_profiles = ["tcp+tls", "tor", "i2p"]

## Transports to be mixed
mixed_profiles = []

[net.profiles."tcp+tls"]
## Seed nodes to connect to
seeds = ["tcp+tls://lilith0.dark.fi:25551", "tcp+tls://lilith1.dark.fi:25551"]

## P2P accept addresses
inbound = ["tcp+tls://0.0.0.0:26661", "tcp+tls://[::]:26661"]

## Addresses we want to advertise to peers
external_addrs = ["tcp+tls://MY_IP_V4:26661", "tcp+tls://MY_IP_V6:26661", "tcp+tls://my.resolveable.address:26661"]

[net.profiles."tor"]
## Seed nodes to connect to
seeds = [
    "tor://g7fxelebievvpr27w7gt24lflptpw3jeeuvafovgliq5utdst6xyruyd.onion:25552",
    "tor://yvklzjnfmwxhyodhrkpomawjcdvcaushsj6torjz2gyd7e25f3gfunyd.onion:25552",
]

## P2P accept addresses
inbound = ["tcp://127.0.0.1:26662"]

## Addresses we want to advertise to peers
external_addrs = ["tor://youraddress.onion:26662"]

[net.profiles."i2p"]
## Seed nodes to connect to
seeds = [
    ##TODO: replace with an official seed address
    "i2p://6l2rdfriixo2nh5pr5bt555lyz56qox2ikzia4kuzm4okje7gtmq.b32.i2p:5262"
]

## Manual peers to connect to
#peers = []

## P2P accept addresses
inbound = ["tcp://127.0.0.1:26663"]

## Addresses we want to advertise to peers
external_addrs = ["i2p://youraddress.b32.i2p:26663"]