[package]
name = "darkfid"
version = "0.5.0"
homepage = "https://dark.fi"
description = "DarkFi node daemon"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
repository = "https://codeberg.org/darkrenaissance/darkfi"
license = "AGPL-3.0-only"
edition = "2021"

[dependencies]
# Darkfi
darkfi = {path = "../../", features = ["async-daemonize", "bs58"]}
darkfi_money_contract = {path = "../../src/contract/money"}
darkfi-contract-test-harness = {path = "../../src/contract/test-harness"}
darkfi-sdk = {path = "../../src/sdk"}
darkfi-serial = "0.5.0"

# Misc
blake3 = "1.8.2"
bs58 = "0.5.1"
tracing = "0.1.41"
num-bigint = "0.4.6"
rand = "0.8.5"
sled-overlay = "0.1.13"
toml = "0.9.8"

# JSON-RPC
async-trait = "0.1.89"
tinyjson = "2.5.1"
url = "2.5.4"

# Monero
monero = "0.21.0"
hex = "0.4.3"

# Daemon
easy-parallel = "3.3.1"
signal-hook-async-std = "0.3.0"
signal-hook = "0.3.18"
tracing-subscriber = { version = "0.3.20", default-features = false, features = ["fmt"] }
tracing-appender = "0.2.3"
smol = "2.0.2"

# Argument parsing
serde = {version = "1.0.228", features = ["derive"]}
structopt = "0.3.26"
structopt-toml = "0.5.1"

[lints]
workspace = true
