[package]
name = "darkfid"
version = "0.4.1"
homepage = "https://dark.fi"
description = "DarkFi node daemon"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
repository = "https://github.com/darkrenaissance/darkfi"
license = "AGPL-3.0-only"
edition = "2021"

[dependencies]
# Darkfi
darkfi = {path = "../../", features = ["async-daemonize"]}
darkfi_money_contract = {path = "../../src/contract/money"}
darkfi-contract-test-harness = {path = "../../src/contract/test-harness"}
darkfi-sdk = {path = "../../src/sdk"}
darkfi-serial = {path = "../../src/serial"}

# Misc
blake3 = "1.5.1"
log = "0.4.21"
num-bigint = "0.4.5"
rand = "0.8.5"
sled = "0.34.7"
toml = "0.8.13"

# JSON-RPC
async-trait = "0.1.80"
tinyjson = "2.5.1"
url = "2.5.0"

# Daemon
easy-parallel = "3.3.1"
signal-hook-async-std = "0.2.2"
signal-hook = "0.3.17"
simplelog = "0.12.2"
smol = "2.0.0"

# Argument parsing
serde = {version = "1.0.203", features = ["derive"]}
structopt = "0.3.26"
structopt-toml = "0.5.1"
