[package]
name = "darkfi-sdk"
version = "0.4.1"
homepage = "https://dark.fi"
description = "SDK used for developing smart contracts on DarkFi"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
repository = "https://github.com/darkrenaissance/darkfi"
license = "AGPL-3.0-only"
edition = "2021"

[lib]
doctest = false

[dependencies]
# Error handling
thiserror = "1.0.47"

# Serialization
darkfi-serial = {version = "0.4.1", path = "../serial", features = ["derive", "crypto"]}

# Encoding
bs58 = "0.5.0"

# Cryptography
blake2b_simd = "1.0.1"
blake3 = "1.4.1"
chacha20poly1305 = "0.10.1"
halo2_gadgets = "0.3.0"
bridgetree = "0.3.0"
num-bigint = "0.4.4"
num-traits = "0.2.16"
pasta_curves = "0.5.1"
rand_core = "0.6.4"

# Misc
lazy_static = "1.4.0"
subtle = "2.5.0"

[dev-dependencies]
halo2_proofs = {version = "0.3.0", features = ["dev-graph", "gadget-traces", "sanity-checks"]}
halo2_gadgets = {version = "0.3.0", features = ["test-dev-graph", "test-dependencies"]}
rand = "0.8.5"
