[package]
name = "darkfi-serial"
version = "0.4.1"
homepage = "https://dark.fi"
description = "DarkFi serialization library"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
repository = "https://github.com/darkrenaissance/darkfi"
license = "AGPL-3.0-only"
edition = "2021"

[dependencies]
darkfi-derive = {version = "0.4.1", path = "./derive", optional = true}
futures-lite = {version = "1.13.0", optional = true}

# Supported types for encoding
blake3 = {version = "1.3.3", optional = true}
bridgetree = {version = "0.2.0", optional = true}
pasta_curves = {version = "0.5.1", optional = true}
url = {version = "2.4.0", optional = true}

[features]
default = ["derive"]
derive = ["darkfi-derive"]

async = ["futures-lite"]
collections = []
crypto = ["collections", "hash", "bridgetree", "pasta_curves"]
hash = ["blake3"]
