[package]
name = "darkirc"
description = "P2P IRC daemon"
version = "0.5.1"
edition = "2021"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
license = "AGPL-3.0-only"
homepage = "https://dark.fi"
repository = "https://codeberg.org/darkrenaissance/darkfi"

[lib]
name = "darkirc"
crate-type = ["cdylib"]
path = "src/lib.rs"

[[bin]]
name = "darkirc"
path = "src/main.rs"

[features]
default = []
upnp-igd = ["darkfi/upnp-igd"]

[dependencies]
darkfi = {path = "../../", features = ["async-daemonize", "event-graph", "rpc", "zk"]}
darkfi-sdk = {path = "../../src/sdk", features = ["async"]}
darkfi-serial = {path = "../../src/serial", features = ["async"]}
libc = "0.2.178"

# Event Graph DB
sled-overlay = "0.1.20"

# TLS
async-trait = "0.1.89"
futures = "0.3.31"
futures-rustls = {version = "0.26.0", default-features = false, features = ["logging", "tls12", "ring"]}
rustls-pemfile = "2.2.0"

# Crypto
blake3 = "1.8.2"
bcrypt = "0.17.1"
crypto_box = {version = "0.9.1", features = ["std", "chacha20"]}
rand = "0.8.5"

# Misc
tracing = "0.1.44"
url = "2.5.7"

# Encoding and parsing
bs58 = "0.5.1"
toml = "0.9.8"
semver = "1.0.27"

# Daemon
easy-parallel = "3.3.1"
signal-hook-async-std = "0.4.0"
signal-hook = "0.4.1"
tracing-subscriber = { version = "0.3.22", default-features = false, features = ["fmt"] }
tracing-appender = "0.2.4"
smol = "2.0.2"

# Argument parsing
serde = {version = "1.0.228", features = ["derive"]}
structopt = "0.3.26"
structopt-toml = "0.5.1"

# See https://github.com/rust-mobile/android-rs-glue/issues/193
[target.aarch64-linux-android.dependencies]
openssl = { version = "*", features = ["vendored"] }
rusqlite = {version = "0.37.0", features = ["bundled"]}

[lints]
workspace = true
