[package]
name = "darkirc"
description = "P2P IRC daemon"
version = "0.4.1"
edition = "2021"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
license = "AGPL-3.0-only"
homepage = "https://dark.fi"
repository = "https://github.com/darkrenaissance/darkfi"

[dependencies]
darkfi = {path = "../../", features = ["event-graph", "rpc", "bs58"]}
darkfi-serial = {path = "../../src/serial"}

# Async
async-rustls = "0.4.0"
async-trait = "0.1.68"
futures = "0.3.28"
rustls-pemfile = "1.0.2"

# Crypto
crypto_box = "0.8.2"
rand = "0.8.5"

# Misc
clap = {version = "4.3.3", features = ["derive"]}
chrono = "0.4.26"
libsqlite3-sys = {version = "0.26.0", features = ["bundled-sqlcipher"]}
log = "0.4.19"
ripemd = "0.1.3"
sled = "0.34.7"
url = "2.4.0"

# Encoding and parsing
bs58 = "0.5.0"
hex = "0.4.3"
serde_json = "1.0.96"
toml = "0.7.4"

# Daemon
async-std = "1.12.0"
easy-parallel = "3.3.0"
signal-hook-async-std = "0.2.2"
signal-hook = "0.3.15"
simplelog = "0.12.1"
smol = "1.3.0"

# Argument parsing
serde = {version = "1.0.164", features = ["derive"]}
structopt = "0.3.26"
structopt-toml = "0.5.1"
