[package]
name = "darkirc"
description = "P2P IRC daemon"
version = "0.5.0"
edition = "2021"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
license = "AGPL-3.0-only"
homepage = "https://dark.fi"
repository = "https://github.com/darkrenaissance/darkfi"

[lib]
name = "darkirc"
crate-type = ["cdylib"]
path = "src/lib.rs"

[[bin]]
name = "darkirc"
path = "src/main.rs"

[dependencies]
darkfi = {path = "../../", features = ["async-daemonize", "event-graph", "net", "util", "system", "rpc", "zk"]}
darkfi-sdk = {path = "../../src/sdk", features = ["async"]}
darkfi-serial = {path = "../../src/serial", features = ["async"]}
libc = "0.2.153"

# Event Graph DB
sled = "0.34.7"

# TLS
async-trait = "0.1.77"
futures = "0.3.30"
futures-rustls = "0.25.1"
rustls-pemfile = "2.1.1"

# Crypto
blake3 = "1.5.0"
crypto_box = {version = "0.9.1", features = ["std", "chacha20"]}
rand = "0.8.5"

# Misc
log = "0.4.21"
url = "2.5.0"

# Encoding and parsing
bs58 = "0.5.0"
toml = "0.8.10"

# Daemon
easy-parallel = "3.3.1"
signal-hook-async-std = "0.2.2"
signal-hook = "0.3.17"
simplelog = "0.12.2"
smol = "1.3.0"

# Argument parsing
serde = {version = "1.0.197", features = ["derive"]}
structopt = "0.3.26"
structopt-toml = "0.5.1"

# See https://github.com/rust-mobile/android-rs-glue/issues/193
[target.aarch64-linux-android.dependencies]
openssl = { version = "*", features = ["vendored"] }
