[package]
name = "darkfi-sdk-py"
description = "Python bindings for the DarkFi SDK"
version = "0.4.1"
edition = "2021"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
license = "AGPL-3.0-only"
homepage = "https://dark.fi"
repository = "https://github.com/darkrenaissance/darkfi"

[lib]
name = "darkfi_sdk"
crate-type = ["cdylib"]

[dependencies]
darkfi = {path = "../../../", features = ["zk", "zkas"]}
darkfi-sdk = {path = "../"}
halo2_gadgets = "0.3.0"
pyo3 = "0.19.2"
rand = "0.8.5"
