[package]
name = "darkfi-sdk-py"
description = "Python bindings for the DarkFi SDK"
version = "0.5.0"
edition = "2021"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
license = "AGPL-3.0-only"
homepage = "https://dark.fi"
repository = "https://codeberg.org/darkrenaissance/darkfi"

[lib]
name = "darkfi_sdk"
crate-type = ["cdylib"]
doc = false

[dependencies]
darkfi = {path = "../../../", features = ["zk", "zkas", "tx"]}
darkfi_money_contract = {path = "../../contract/money", features=["no-entrypoint", "client"]}
darkfi_dao_contract = {path = "../../contract/dao", features=["no-entrypoint", "client"]}
darkfi_deployooor_contract = {path = "../../contract/deployooor", features=["no-entrypoint", "client"]}
darkfi-sdk = {path = "../"}
darkfi-serial = {version = "0.5.1", features = ["crypto"]}
halo2_proofs = {version = "0.3.1", features = ["circuit-params", "dev-graph", "sanity-checks"]}
halo2_gadgets = {version = "0.3.1", features = ["circuit-params"]}
plotters = "0.3.7"
pyo3 = "0.26.0"
rand = "0.8.5"

[lints]
workspace = true
