## darkfid configuration file
##
## Please make sure you go through all the settings so you can configure
## your daemon properly.
##
## The default values are left commented. They can be overridden either by
## uncommenting, or by using the command-line.

# Blockchain network to use
network = "localnet"

# Localnet blockchain network configuration
[network_config."localnet"]
# Path to the blockchain database directory
database = "darkfid"

# Confirmation threshold, denominated by number of blocks
threshold = 1

# PoW block production target, in seconds
pow_target = 10

# Optional fixed PoW difficulty, used for testing
pow_fixed_difficulty = 1

# Skip syncing process and start node right away
skip_sync = true

# Disable transaction's fee verification, used for testing
skip_fees = false

# Optional sync checkpoint height
#checkpoint_height = 0

# Optional sync checkpoint hash
#checkpoint = ""

# Optional bootstrap timestamp
#bootstrap = 1718807405

## Localnet JSON-RPC settings
[network_config."localnet".rpc]
# JSON-RPC listen URL
rpc_listen = "tcp://127.0.0.1:48240"

# Disabled RPC methods
#rpc_disabled_methods = ["p2p.get_info"]

## Localnet JSON-RPC settings for p2pool merge mining requests (optional)
#[network_config."localnet".mm_rpc]
# JSON-RPC listen URL (merge mining)
#rpc_listen = "http+tcp://127.0.0.1:8241"

# Disabled RPC methods (merge mining)
#rpc_disabled_methods = []

## Localnet P2P network settings
[network_config."localnet".net]
# P2P accept addresses the instance listens on for inbound connections
inbound = ["tcp+tls://0.0.0.0:48242"]

# Allow localnet hosts
localnet = true
