[package]
name = "pow"
version = "0.1.0"
edition = "2021"

[workspace]

[dependencies]
randomx = {git = "https://github.com/darkrenaissance/RandomX"}
darkfi-serial = {path = "../../../src/serial"}
darkfi-sdk = {path = "../../../src/sdk", features = ["async"]}
darkfi = {path = "../../../", features = ["util", "async-serial"]}

rand = "0.8.5"
blake2b_simd = "1.0.2"
num-bigint = "0.4.5"
lazy_static = "1.4.0"

[patch.crates-io]
blake2b_simd = {git = "https://github.com/parazyd/blake2_simd", branch = "impl-common"}
