[package]
name = "taud"
description = "Encrypted tasks management app using peer-to-peer network and Event Graph."
version = "0.5.0"
edition = "2021"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
license = "AGPL-3.0-only"
homepage = "https://dark.fi"
repository = "https://codeberg.org/darkrenaissance/darkfi"

[lib]
name = "taud"
path = "src/lib.rs"

[[bin]]
name = "taud"
path = "src/main.rs"

[dependencies]
darkfi = { path = "../../../", features = [
    "bs58",
    "async-daemonize",
    "event-graph",
    "rpc",
] }

darkfi-sdk = {path = "../../../src/sdk", features = ["async"]}
darkfi-serial = "0.5.0"

# Event Graph DB
sled-overlay = "0.1.10"

# Crypto
blake3 = "1.8.2"
crypto_box = { version = "0.9.1", features = ["std", "chacha20"] }
rand = "0.8.5"

# Encoding and parsing
bs58 = "0.5.1"
toml = "0.9.5"

# Misc
async-trait = "0.1.88"
chrono = "0.4.41"
futures = "0.3.31"
libc = "0.2.174"
tracing = "0.1.41"
thiserror = "2.0.12"
tinyjson = "2.5.1"
url = "2.5.4"

# Daemon
easy-parallel = "3.3.1"
signal-hook-async-std = "0.3.0"
signal-hook = "0.3.18"
tracing-subscriber = { version = "0.3.19", default-features = false, features = ["fmt"] }
tracing-appender = "0.2.3"
smol = "2.0.2"

# Argument parsing
serde = { version = "1.0.219", features = ["derive"] }
structopt = "0.3.26"
structopt-toml = "0.5.1"

[lints]
workspace = true
