[package]
name = "darkfi-mmproxy"
version = "0.4.1"
homepage = "https://dark.fi"
description = "Proxy server for DarkFi/Monero merge mining"
authors = ["Dyne.org foundation <foundation@dyne.org>"]
repository = "https://github.com/darkrenaissance/darkfi"
license = "AGPL-3.0-only"
edition = "2021"

[dependencies]
darkfi = {path = "../../", features = ["async-daemonize", "async-serial", "system", "util", "rpc"]}
darkfi-serial = {path = "../../src/serial", features = ["async"]}

# Misc
blake3 = "1.5.0"
log = "0.4.20"

# Monero
monero = {version = "0.19.0", features = ["full"]}
surf = "2.3.2"

# Encoding
bs58 = "0.5.0"
hex = "0.4.3"
url = "2.4.1"
uuid = {version = "1.5.0", features = ["v4"]}

# Daemon
easy-parallel = "3.3.1"
signal-hook-async-std = "0.2.2"
signal-hook = "0.3.17"
simplelog = "0.12.1"
smol = "1.3.0"

# Argument parsing
serde = {version = "1.0.190", features = ["derive"]}
structopt = "0.3.26"
structopt-toml = "0.5.1"
