name: CI Checks

on: [push, pull_request]

jobs:
  test-units:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2025-04-10
          override: true
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2025-04-10
          target: wasm32-unknown-unknown
          override: true
      - uses: actions/setup-python@v1
        with:
          python-version: '3.10'

      - uses: Swatinem/rust-cache@v2

      - name: Update apt cache
        run: |
          sudo apt update -y

      - name: Install dependencies (Linux)
        run: |
          sh contrib/dependency_setup.sh
        if: matrix.os == 'ubuntu-latest'

      - name: Run test units
        run: |
          make CARGO="cargo +nightly-2025-04-10" test

      - name: Compile all bins
        run: |
          make CARGO="cargo +nightly-2025-04-10"

  feature-powerset:
    name: Test crate feature powerset on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2025-04-10
          override: true
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2025-04-10
          target: wasm32-unknown-unknown
          override: true
      - uses: taiki-e/install-action@cargo-hack
      - uses: Swatinem/rust-cache@v2

      - name: Update apt cache
        run: |
          sudo apt update -y

      - name: Install dependencies (Linux)
        run: |
          sh contrib/dependency_setup.sh
        if: matrix.os == 'ubuntu-latest'

      - name: Run feature powerset builds
        run: |
          make CARGO="cargo +nightly-2025-04-10" check

  fmt:
    name: rustfmt
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2025-04-10
          components: rustfmt
          override: true
      - run: |
          cargo +nightly-2025-04-10 fmt -- --check
